<div class="container">
  <div>
    <%= image_tag "POPOS.svg", class: "logo" %>
  </div>

  <div class="info-panel">
    <h1>POPOS</h1>
    <p>
      Privately-Owned Public Open Space (POPOS) are publicly accessible spaces in forms of plazas, terraces, atriums, small parks, and even snippets which are provided and maintained by private developers. This site was created by our team using publicly available data during the Dev Bootcamp hack-a-thon. For more information, check out the <a href="http://sf-planning.org/privately-owned-public-open-space-and-public-art-popos">SF Planning Departments' page on POPOS</a>
    </p>
  </div>
</div>
