.logo {
  width: 24rem;
}

.info-panel {
  display: flex;
  flex-direction: column;
  align-items: center;
}
  h1 {
    margin-bottom: 0;
  }
  p {
    text-align: justify;
  }

#popos-viewer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
