.logo {
  width: 24rem;
  margin: 1em;
}

#logo:hover {
  cursor: pointer;
}

.splash {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

#map-view {
  width: 100%;
  height: 30rem;
  height: 100vh;
}

#list-view {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 3rem;
}

#view-switcher-button {
  margin: 1em 0;
}
  #view-switcher-button:hover {
    cursor: pointer;
  }
